body {
	overflow-x: hidden;
}

p {
	line-height: 1.35;
	font-family: 'ABeeZee', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'ABeeZee', sans-serif;
}

section {
	padding: 50px 0;
}


/* bootstrap override */

.container {
	padding: 0 30px;
}

.btn {
	padding: 10px 20px;
	font-weight: 600;
	margin: 5px;
}

.btn>i {
	margin: 0 10px;
}

.btn-primary {
	background-color: rgb(75, 185, 228);
	border: none;
}

.text-primary {
	color: rgb(75, 185, 228);
}

.md-margin {
	margin: 30px 0;
}


/* end bootstrap override */

section h2.heading {
	font-size: 40px;
	margin-bottom: 35px;
}

section .subheading {
	margin: 35px 0;
}

section h3.subheading {
	font-size: 16px;
	line-height: 1.7;
}

.element-description h4 {
	margin: 35px 0;
}

@media (min-width: 768px) {
	section {
		padding: 100px 0;
	}
}

#mainNav {
	background-color: rgb(39, 51, 62);
}

#mainNav .navbar-toggler {
	font-size: 30px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: #fff;
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: transparent;
	}
	#mainNav .navbar-brand {
		font-size: .75em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}
	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: #212529;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
	}
}

header.masthead {
	text-align: center;
	color: white;
	background-image: url("../img/bg-konecty.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.masthead .intro-text {
	padding-top: 220px;
	padding-bottom: 100px;
	max-width: 495px;
}

.same-size-btns a.btn {
	width: 200px;
}

.intro-text>p {
	margin: 4em 0;
}

header.masthead .intro-text .intro-lead-in {
	font-size: 32px;
}

@media (min-width: 768px) {
	header.masthead .intro-text .intro-lead-in {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

.lg-container {
	max-width: 630px;
	min-width: 380px;
}

.noresize {
	resize: none;
}